<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>{{ title }}</title>
  </head>
  <body>
    <p class="text-muted px-3 py-2" style="float: right">
      Session:
      <span *ngIf="session !== '' && session !== undefined">{{session}}</span>
      <span *ngIf="session === '' || session === undefined">
        <a href="javascript:;" target="" rel="" (click)="initializeHue()">initialize Hue</a>
      </span>
    </p>
    <br>
    <button class="btn btn-primary" (click)="tempRefresh()">Debug Refresh Token</button>
    <hr>
    <router-outlet></router-outlet>
  </body>
</html>
