<script src="dashboard.component.ts"></script>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-5 px-5 align-self-center">
      <div class="col-12 text-right">
        <h2 style="font-size:2.5vw;">{{currentTrack.name}}</h2>
        <p class="text-muted" style="font-size:1.5vw;">
        <span *ngFor="let artist of currentTrack.artists; let lastArtist = last">
          {{artist}}{{lastArtist ? '' : ', '}}
        </span>
        </p>
      </div>
      <div class="col-12" *ngIf="!this.activePolling">
        <button class="btn btn-primary w-100 p-4" (click)="trackSongs()">Activate Tracking</button>
      </div>
    </div>
    <div class="col-4 px-5">
      <img class="col-12 rounded" src="{{currentTrack.imagePath[0]}}" [style.background-color]="cardBackgroundColor" style="padding: 2.5vw" >
      <div class="range-container mt-3">
        <img src="../../assets/moon.svg" style="width: 1.5em">
        <input type="range" class="custom-range" min="0.01" max="1.0" step="any" [(ngModel)]="brightnessRange" (click)="onBrightnessChange()">
        <img src="../../assets/sun.svg" style="width: 1.85em">
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
